name: Build Snakeibo Android

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kivy/buildozer:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Build APK
      run: buildozer android release

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: Snakeibo-build
        path: bin/*.apk
      with:
        name: Snakeibo-build
        path: bin/*.apk
